<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
</head>
<body>

  <main>
      <div class="row">
          <div class="left col-lg-4">
            <div class="photo-left">
              <div class="active"></div>
            </div>
          </div>
          <div class="right col-lg-8">
            <ul class="nav">
              
              <a routerLink="/videos" class="btn btn-info float-right"><li>Incorporate Users</li></a>
              <a routerLink="/videos" class="btn btn-info float-right"><li>Change Users</li></a>
              <a routerLink="/videos" class="btn btn-info float-right"><li>Delete Users</li></a>

            </ul>
      </div>
  </div>
  </main>
</body>
</html>
