<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
</head>
<body>

  <main>
      <div class="row">
          <div class="left col-lg-4">
            <div class="photo-left">
              <div class="active"></div>
            </div>
            <h4 class="name">Administrator</h4>
            <p class="info">Designer</p>
            <div class="stats row">
            </div>
            <p class="desc">Create Users kids and Videos.</p>
            <div class="social">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
              <i class="fa fa-pinterest-square" aria-hidden="true"></i>
              <i class="fa fa-tumblr-square" aria-hidden="true"></i>
            </div>
          </div>
          <div class="right col-lg-8">
            <ul class="nav">
              
              <a routerLink="/videos" class="btn btn-info float-right"><li>Create Videos</li></a>
              <a routerLink="/userskids" class="btn btn-info float-right"><li>Create Users</li></a>

            </ul>
      </div>
  </div>
  </main>
</body>
</html>
