<div class="mt-4 col-8 offset-2">
    <div class="card">
      <div class="card-header"><h5>Profile GabrielQA</h5></div>
      <div class="card-body">
        <form>
                <div class="card" style="width: 15rem;">
                    <!--<img class="card-img-top" src="https://scontent.fsjo8-1.fna.fbcdn.net/v/t1.0-9/55627740_2168662183446168_5706429038503919616_n.jpg?_nc_cat=111&_nc_ht=scontent.fsjo8-1.fna&oh=7fb989150dfdfddc0e9cd5870c19a71e&oe=5D3C3F69" alt="Card image cap">
                    --><div class="card-body">
                      <h5 class="card-title"></h5>
                    </div>
                  </div><div class="cards" style="width: 40rem;   margin-top: 20px; top: 12px;  display: flex;">
                <p style=" margin-top: 20px;" class="card-text">This profile is Administrator in designed web for incluide diferents actions, with Users Kids and Videos.</p>
                </div>
                <div class="carasd" style="width: 40rem;   margin-top: 20px; top: 1111px;  display: flex;">
                      <a routerLink="/userskids" class="btn btn-primary" style="margin: 0 10px 0 10px;"><li>Create Users</li></a>                
                      <a routerLink="/videos" class="btn btn-primary"><li>Create Videos</li></a>
                  </div>
        </form>
      </div>
    </div>
  </div>

 